/* ===================== COLUMN WIDTHS ======================== */ 

	.leftSidebar { width:20%; margin-right:10px; margin-left:0px; }
	.middleSidebar { width:74% }
	.rightSidebar { width:24.5%; margin-left:10px; margin-right:0px; }
	#PPTSinglePage-post .rightSidebar { width:260px;   }

	h1 {color: #666;}
	h3 { color: #333;}
/* ===================== THEME GLOBAL STYLES ======================== */ 

	body { background:#044169 url(../images/BG.png) repeat-x; margin:0px; padding:0px; }
	a { color: #666; }
	.w_960 {  margin-top:0px; }
	
/* ===================== _HEADER STYLES ======================== */ 
 
	#logo {  margin-top:15px; margin-left:0px;  }	
	#header { background: transparent; height:120px;}	
	 
 	#menudrop { margin-top:-60px;}
	.menu { background: transparent; height:40px; margin-bottom:10px; }
	.menu li, .menu li:hover  { background:url(../images/menu_spacer.png) 15px right no-repeat;  }
 	.menu li a {padding-top:13px;  }
	
	.itembox { border:2px solid #df941d; }	 
	.middleSidebar .itembox h2 { background: #df941d; padding: 5px 3px 5px 15px; PADDING-LEFT:40PX; color:#fff; text-shadow: 1px 1px 1px #333 !important; }*/
	.itembox h2, .icon-search-item { background: #df941d; }	
 	#SearchContent .hightlighted { background:#edf8ff url(../images/_gallerypage_highlighted.png) no-repeat right bottom; border:2px solid #033f65; }
	#SearchContent .hightlighted h1 {background: #033f65 url(../images/_gallerypage_highlighted_h1.png) repeat-x; }	  
	#SearchContent .icon-search-item {  padding-left:10px; background:#df941d; } 
	.itembox h2, .itembox h1 {color: #fff; background: #df941d; }
	
	#SearchForm { margin-top:10px; }
	#SearchForm .searchBtn { background:url(../images/search.png) no-repeat; }
	
	#submenubar { background:#df941d;border:5px solid #df941d;    border-radius:20px 20px 0 0;    -moz-border-radius:20px 20px 0 0;    -webkit-border-radius:20px 20px 0 0; 	width:970px;	color:#fff; 	}
	#submenubar a { color:#fff; }	
	#AdvancedSearchBox { background: #df941d; border:0px;color: #fff; }	
	#AdvancedSearchBox h2, .AdvancedSearchBox label {color: #fff;}
	#page { border:10px solid #df941d; background:#df941d; border-radius:0 0 20px 20px ;-moz-border-radius:0 0 20px 20px ;-webkit-border-radius:0 0 20px 20px;	}
	
	#content { border:5px solid #fff;border-radius:10px 10px 10px 10px;-moz-border-radius:10px 10px 10px 10px;-webkit-border-radius:10px 10px 10px 10px;	}
	
	.itembox h1 a { color:#fff; }
 
/* ===================== _SIDEBAR.PHP STYLES ======================== */  
 
	.category li a {background: #fff3e9 url(../images/icon-category.png) no-repeat 5px 6px; border-bottom: 1px solid #666;color: #333; padding: 5px 5px 5px 30px;}
	.category li a:hover {background: #efefef url(../images/icon-category-hover.png) no-repeat 5px 6px; ; }
	.btnDownload_01:before { content: url(../images/icon-sidebar-button.png); 	background: #df941d; 	 }
 
/* ===================== _FOOTER.PHP STYLES ======================== */ 

	#footer { background: #044169;   }
	.b_third_col { min-height:300px; } 
	#footer h3 {color: #fff; }
	
/* ===================== _HOMEPAGE.PHP STYLES ======================== */ 
 
	.homeCategories {background: #fff3e9; }
	#homeFeaturedBottom li:hover, .homeFeaturedList li:hover { background:#fff3e9; }
	.homeCategories ul .sm {border: 0px; color: #943510; }
	.homeCategories ul li  { background: url('../images/folder.png') no-repeat 8px 6px; }

/* ===================== ICON STYLES ======================== */ 

	#icon-home-cats { background: #df941d url(../images/icon-home-cats.png) no-repeat 10px center; }
	#icon-home-bottom { background: #df941d url(../images/icon-home-bottom.png) no-repeat 10px center; }
	#icon-home-text { background: #df941d url(../images/icon-home-text.png) no-repeat 10px center; }
	#icon-home-list { background: #df941d url(../images/icon-home-list.png) no-repeat 10px center; }
	#sidebar-cats { background: #df941d url(../images/icon-sidebar-cats.png) no-repeat 10px center;  text-shadow: 1px 1px 1px #333 !important;}
	#sidebar-cats-sub { background: #df941d url(../images/folders.png) no-repeat 10px center; }
	#icon-sidebar-add { background: #df941d url(../images/icon-sidebar-add.png) no-repeat 10px center; }
	#icon-sidebar-singleinfo { background: #df941d url(../images/icon-sidebar-add.png) no-repeat 10px center; }

	#icon-sidebar-article { background: #df941d url(../images/icon-sidebar-article.png) no-repeat 10px center; text-shadow: 1px 1px 1px #333 !important; }
	#icon-home-custombox0 { background: #df941d url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-home-custombox1 { background: #df941d url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-home-custombox2 { background: #df941d url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-home-custombox3 { background: #df941d url(../images/icon-home-list.png) no-repeat 10px center; }	
	#icon-sidebar-claim { background: #df941d url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-single-map { background-color: #df941d;}	
			
/* ===================== SLIDERS  ======================== */ 


	#siteFeature {position:relative;  background:#efefef; border:1px solid #fff; }
	#siteFeature #tabContainer a:link, #siteFeature #tabContainer a:visited { background: transparent url(../images/_slider_inactive.png) no-repeat; }
	#siteFeature #tabContainer a:hover{ background:#fff url(../images/_slider_inactive1.png) no-repeat; }
	#siteFeature #tabContainer a h4 { color: #666; padding:10px 11px 0px 11px; }	
	#siteFeature #tabContainer a.selected h4, #siteFeature #tabContainer a.selected p { color: #fff; text-shadow: 0px 1px 0px #666; }	
	.PPTActiveTab { background: transparent url(../images/_slider_active.png); }
	#siteFeature #txtBoxContainer a { color:#fff;} 
	#siteFeature h3 { color:#fff; } 
	
	
/* ===================== BLOCK PACKAGES ======================== */ 
	
	#griddler hgroup.price {border-left: 1px solid #b3720c; border-right: 1px solid #df941d;border-bottom: 1px solid #df941d; background: #df941d; background-image: none;}	
	#griddler .price h2 {text-shadow: 0 1px 0 #112235; border-top: 1px solid #b3720c;border-left: 1px solid #df941d; }
    

   
