

/* ===================== COLUMN WIDTHS ======================== */ 

	.leftSidebar { width:20%; margin-right:10px; margin-left:0px; }
	.middleSidebar { width:74% }
	.rightSidebar { width:24.5%; margin-left:10px; margin-right:0px; }
	#PPTSinglePage-post .rightSidebar { width:260px;   }

/* ===================== _HEADER STYLES ======================== */ 

	.wrapper { -webkit-box-shadow: 0 0 0px #cccccc; -moz-box-shadow: 0 0 8px #cccccc;  	-webkit-box-shadow: 0 0 8px #ccc;  	box-shadow:0px 0px 15px #ccc;	-webkit-transition: -webkit-box-shadow 0.9s ease;	-moz-transition: -moz-box-shadow 0.9s ease-in-out; 	-moz-border-radius-topleft: 10px;	-webkit-border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }
	#widecolumn .wrapper  {-webkit-box-shadow: #CCC 0px 0px 0px; border:0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -webkit-transition: -webkit-box-shadow 0s ease; -moz-transition: -moz-box-shadow 0s ease-in-out;}
	#header {  height:100px;overflow:hidden;  background:#fff;  	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }

/* ===================== ICON STYLES ======================== */ 

	#icon-home-cats { background: #C9C9C9 url(../images/icon-home-cats.png) no-repeat 10px center; }
	#icon-home-bottom { background: #C9C9C9 url(../images/icon-home-bottom.png) no-repeat 10px center; }
	#icon-home-text { background: #C9C9C9 url(../images/icon-home-text.png) no-repeat 10px center; }
	#icon-home-list { background: #C9C9C9 url(../images/icon-home-list.png) no-repeat 10px center; }
	#sidebar-cats { background: #C9C9C9 url(../images/icon-sidebar-cats.png) no-repeat 10px center; }
	#sidebar-cats-sub { background: #C9C9C9 url(../images/folders.png) no-repeat 10px center; }
	#icon-sidebar-add { background: #C9C9C9 url(../images/icon-sidebar-add.png) no-repeat 10px center; }
	#icon-sidebar-singleinfo { background: #C9C9C9 url(../images/icon-sidebar-add.png) no-repeat 10px center; }
	#icon-single-comment { background:  url(../images/icon-single-comment.png) no-repeat 10px center;  }
	#icon-single-map { background:  url(../images/icon-single-map.png) no-repeat 10px center;  }
	#icon-single-info { background: url(../images/icon-single-info.png) no-repeat 10px center;  }
	#icon-single-images { background: url(../images/icon-single-images.png) no-repeat 10px center;  }
	#icon-sidebar-article { background: #C9C9C9 url(../images/icon-sidebar-article.png) no-repeat 10px center; }
	#icon-home-custombox0 { background: #C9C9C9 url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-home-custombox1 { background: #C9C9C9 url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-home-custombox2 { background: #C9C9C9 url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-home-custombox3 { background: #C9C9C9 url(../images/icon-home-list.png) no-repeat 10px center; }
	#icon-sidebar-claim { background: #C9C9C9 url(../images/icon-home-list.png) no-repeat 10px center; }	
	 
	#icon-single-map { background-color: #C9C9C9;}	

/* ===================== SLIDERS  ======================== */ 


	#siteFeature {position:relative;  background:#efefef; border:1px solid #fff; }
	#siteFeature #tabContainer a:link, #siteFeature #tabContainer a:visited { background: transparent url(../images/_slider_inactive.png) no-repeat; }
	#siteFeature #tabContainer a:hover{ background:#fff url(../images/_slider_inactive1.png) no-repeat; }
	#siteFeature #tabContainer a h4 { color: #666; padding:10px 11px 0px 11px; }	
	#siteFeature #tabContainer a.selected h4, #siteFeature #tabContainer a.selected p { color: #fff; text-shadow: 0px 1px 0px #666; }	
	.PPTActiveTab { background: transparent url(../images/_slider_active.png); }
	#siteFeature #txtBoxContainer a { color:#fff;} 
	#siteFeature h3 { color:#fff; }