

/* ===================== THEME GLOBAL STYLES ======================== */ 

	body { background:#1d8cc3 url(images/bg.jpg) repeat-x center top; margin-top:10px; } 
	* { margin: 0; padding: 0; outline: 0; }
	a { color: #097fb7; text-decoration: none; }
	a:hover { cursor: pointer; text-decoration: none; }
	a img { border: 0; }
	ol,ul { list-style:none; }
	h1 { color: #39a7dc; }
	h3 { color: #39a7dc; }
	h7 { font-weight:bold;}
	ul.display li h2 a { color: #39a7dc; }
	#homepage .category_list h4, .post_columns h4, #home-sidebar h4 {       color:#39a7dc;    }
	#homepage .category_list h4 a{	color:#39a7dc;}
	.rightside { margin-right:0px !important;  margin-left:10px; }
	.left { border-right: 0px; }

/* ===================== _HEADER STYLES ======================== */ 
 
	.wrapper { }
	#widecolumn .wrapper  {}
	#header {  height:100px;overflow:hidden;  background:#fff; }
	#page { background:white; margin-bottom:0px; }  
	#logo { width:450px; margin-top:7px;}
	#banner { margin-top:10px; } 
	#content { height: 100%; padding: 10px; background:white;  } 
	
	/* menu styles 6.3 */
	.menu {   background: #004161 url(images/menu.gif) repeat-x; height:50px; } 
	.menu li { 	background:url(images/menu_spacer.png) top right no-repeat; height:100%; }
	.menu li a {color: #EEE; padding-top:18px; font-size:16px;  }

	
	#submenubar { border-top:1px solid #666; }
	#SearchForm { margin:0px; padding:0px; width:480px; margin-left:20px;margin-top:5px; float:left; }
	#SearchForm .searchBtn { padding:0px; margin:0px; border:0px; width:33px; height:29px; background:url(images/search.gif) no-repeat; border:0px !important; padding:0px; cursor:pointer; }
	
	#AdvancedSearchBox h2 { color:#666; }
 	.AdvancedSearchBox { border: 1px solid #ddd;  padding:10px; background:#efefef; }
	.AdvancedSearchBox h2 { font-size:20px; }
	.AdvancedSearchBox label { font-size:16px; color:#666; }
 
	 

/*

THE FOLLOW STYLES ARE SEPERATED BY FILE NAME
MAKING IT EASIER TO LOCATE WHERE THEY BELONG

- MARK FAIL

*/






/* ===================== _FOOTER.PHP STYLES ======================== */ 

	#footer { background: url('images/footer.gif') repeat-x; }
	#footer h3 { color:#ddd}
	#footer p { color:#efefef; }
	#copyright { font-weight:bold;  }
	#copyright p { padding-left:15px; color:#eee; }
	#copyright p a { color:#eee; text-decoration:underline; }
	.recentarticles a { color:#ffffff; }
	#footer .first_col { color:#ffffff; }

/* ===================== _HOMEPAGE.PHP STYLES ======================== */ 

#PPTHomePage .homeCategories li { min-height:70px; }
	.homeCategories { width: 100%; padding-top:10px; margin-top:0px; margin-bottom:0px; background:#efefef; }
	.homeCategories ul li  { background: url('images/folder.png') no-repeat 8px 6px;  float:left; min-width:220px; min-height:40px;  }
	.homeCategories ul li a{ font: normal 11px Arial;color: black;  display: block;padding: 5px 0;line-height: 17px;padding-left: 38px;text-decoration: none; }
	.homeCategories ul .sm { padding:0px; margin:0px; color:#666; float:left; margin-right:10px;   border:1px solid #ddd;   padding:2px; margin-top:3px;}
	.homeCategories ul .sm:hover { background:#FFCC00; color:white; border:1px solid #FF9900}
	#sidebar .homeCategories {background: #EFEFEF;margin-bottom: 0px;margin-top: 0px;padding-top: 10px;width: 100%; } 
	#sidebar .homeCategories li a { font-size:13px !important; }
	.itembox { border: 4px solid #E2E2E2;clear: both;margin: 0px 0px 24px;padding: 0px;}
	.itembox h2,.itembox h1 { background: #C9C9C9 url(images/pointer-active.gif) no-repeat 10px center; color: #404040;font-size: 17px;font-weight: 700;padding: 5px 3px 5px 36px;margin:0px;}
	 .itembox  h1 { font-size: 18px;  margin:0px; }
	.itemboxinner { padding:10px; }
	.homeFeaturedList li { padding:10px; clear:both; border-bottom:1px solid #ddd; }
	.homeFeaturedList li:hover { background:#efefef; }
	.homeFeaturedList li img { border:1px solid black; height:55px; width:65px; float:left; margin-right:10px;  }
	.homeFeaturedList li h2 { font-size:16px; background:none; padding:0px; }
	#homeFeaturedBottom li { padding:10px; clear:both; border-bottom:1px solid #ddd; }
	#homeFeaturedBottom li:hover { background:#efefef; }
	#homeFeaturedBottom li img { border:1px solid black; height:55px; width:65px; float:left; margin-right:10px;  }
	#homeFeaturedBottom li h2 { font-size:16px; background:none; padding:0px; }
	#featured-item {   width:100%;    height: 250px;    position: relative;    float:left;   margin:0;   display:block;   overflow: hidden;	padding:0px;margin-bottom:20px;background:#666;}
	#featured-itemContent {   width: 100%;   position: absolute;   top: 0; margin:0; padding:0;   list-style:none;   margin-left: 0;}
	.featured-itemImage {	border:0px; 	width:100%px;	height:254px;   	float: left;   	position: relative;   	display: none;}
	.featured-itemImage span {   position: absolute;  left: 0;   font: 10px/15px Arial, Helvetica, sans-serif;  width:100%; min-width: 699px; filter: alpha(opacity=90); -moz-opacity: 0.9; -khtml-opacity: 0.9;  opacity: 0.9; color: #fff; display: none; bottom: 0;}
	.featured-itemImage span strong { font-weight:normal; font-size:20px; letter-spacing:-1px; display:block; margin:15px 0 5px 15px !important; padding:0 }
	.featured-itemImage span b { font-weight:normal; display:block; margin:3px 0 12px 15px !important; padding:0; line-height:18px; font-size:14px; width:450px }
	.featured-itemImage span em.price {	font-style:normal;	display:block;	height:30px;	padding:5px 0;	font-size:25px; letter-spacing:normal;	position:absolute; right:15px; top:10px; line-height:25px;}
	.featured-itemImage span em.more-info {	font-style:normal;	font-size:12px;	font-weight:bold;	display:block;	position:absolute; right:15px; top:52px }
	.featured-itemImage span strong {color:#333333; }
	.featured-itemImage span { background-color: #eeeeee; }
	.featured-itemImage span b {	color:#666666; }
	.featured-itemImage span em.price { color:#333333; } 

/* ===================== _ITEM.PHP STYLES ======================== */ 

	.thumbnail-large {  background: url(images/thumbnail-large.png) no-repeat; float: left;  min-height: 150px; padding-top: 13px;text-align: center; vertical-align: middle;width: 200px; }
	.thumbnail-large a { height:190px; }
	.post .text { float: right;width: 420px;}
	.post .text a { height:auto; }
	.post .text p {  line-height: 20px  }
	.post p { padding-top:0px; }
	.post .meta {color: rgb(102, 102, 102);float: left; font-size: 12px;margin: 14px 0px 0px 0px;}
	.post .meta a {background: rgb(186, 11, 10);color: white;display: block;float: left;font-size: 11px;font-weight: bold; margin: 0px 7px 7px 0px; padding: 4px 6px;text-decoration: none;}
	.post .meta a:hover { background: red; }
	.post .tags a {color: #666;display: block;float: left;font-size: 11px;  margin: 0px 2px 2px 0px; padding: 4px 2px;text-decoration: underline;}
	.info { padding-top:15px; color:#666;}
	.ratingblock  { float:right; margin-right:10px;  }
	#SearchContent  .ratingblock  {  margin-top:-36px; }
	.ratingtext  { display:none; }	
	#PPTSinglePage-post .ratingblock  { float:none; margin-left:40px;}

/* ===================== _SIDEBAR.PHP STYLES ======================== */ 

	#sidebar { background:#fff;   }
	#sidebar .photo { float:right; padding-left:10px;}
	.category li a { background: #F1F2F1 url(images/pointer.gif) no-repeat 10px center;border-bottom:1px solid #ddd ;color: #444;display: block;font-size: 12px;padding: 5px 5px 5px 25px;text-decoration: none;}
	.category li a:hover {background:#ccc url(images/pointer.gif) no-repeat 10px center;}
	.category li span { background:red;}
	.category li .sub a { background:white url(images/pointer-active.gif) no-repeat 10px center; }
	.category li .sub a:hover { background: #fffcee url(images/pointer-active.gif) no-repeat 10px center; } 
	
	.category li .subsub a { background:#d9ffde; }
	.category li .subsub a:hover { background: #d9ffde url(images/pointer-active.gif) no-repeat 10px center; } 
		
	#sidebar_recentarticle img { float:right; max-width:80px; max-height:90px; padding-left:10px; padding-bottom:10px; }
	#sidebar_recentarticle h3 { font-size:16px; }
	#sidebar .widget li a { background: #F1F2F1 url(images/pointer.gif) no-repeat 10px center;border-bottom:1px solid #ddd ;color: #444;display: block;font-size: 12px;padding: 5px 5px 5px 25px;text-decoration: none;}
	#wp-calendar {	width: 100%;}
	#wp-calendar caption {	color: #222;	font-size: 14px;	font-weight: bold;	padding-bottom: 4px;	text-align: left;}
	#wp-calendar thead {	font-size: 11px;}
	#wp-calendar thead th {}
	#wp-calendar tbody {	color: #aaa;}
	#wp-calendar tbody td {	background: #f5f5f5;	border: 1px solid #fff;	padding: 3px 0 2px;	text-align: center;}
	#wp-calendar tbody .pad {	background: none;}
	#wp-calendar tfoot #next {	text-align: right;}
	.btnDownload_01:before { content: url(images/icon-sidebar-button.png); }
	.btnDownload_01 span { color:#666; }
	#sidebar .btnDownload_01 {width:230px; margin-bottom:10px;  }

 /* ===================== _GALLERYPAGE.PHP STYLES ======================== */

	h1.categoryTitle {float:left; margin:0px; PADDING:0PX;}
	h1.categoryTitle em { font-size:11px;display:block;font-weight:normal; color:#666; }
	ul.pagination { margin-left:0px;  margin-right:0px; }
	#SearchContent .hightlighted { background:#d7ebf5 url(images/_gallerypage_highlighted.png) no-repeat right bottom; border:3px solid #2996ce; }
	#SearchContent .hightlighted h1 { color:white !important; background:#2996ce url(images/_gallerypage_highlighted_h1.png) repeat-x;  text-shadow: 0px 1px 0px #666 ; padding-left:10px;}
	#SearchContent .hightlighted h1 a { color:white !important; }
	#SearchContent .icon-search-item a { color:#fff; }
	#SearchContent .icon-search-item { background: #C9C9C9 url(images/folders.png) no-repeat 10px center;  }
	fieldset {background: white;border: 0px solid #999;margin-top: 0px;padding: 0px;}
	.listImage { max-width:180px; max-height:128px; }
	.galleryImage { max-width:280px;max-height:210px;}

 /* ===================== _TPL_MANAGE.PHP STYLES ======================== */

	#gradient-style{font-size: 12px; width: 100%;	text-align: left;	border-collapse: collapse; margin-top:20px; margin-bottom:20px; }
	#gradient-style th{	font-size: 16px;	font-weight: normal;	padding: 18px;	background: #cccccc;	border-top: 2px solid #ddd;	border-bottom: 1px solid #fff;	color: #efefef; font-weight:bold;}
	#gradient-style td{	padding: 18px; 	border-bottom: 1px solid #fff;	color: #333;	border-top: 1px solid #fff;	background: #ddd;}
	#gradient-style tfoot tr td{	background: #e8edff;	font-size: 13px;	color: #333;}
	#gradient-style tbody tr:hover td{	background: #d8f2d4;	color: #333; font-weight:bold; }
	#gradient-style td a { color:#000000}

 /* ===================== _SINGLE.PHP STYLES ======================== */
 
	#SingleImage { max-width:200px; float:left; padding-right:15px; padding-bottom:15px;  }
	ul.tabs { margin-top:15px; margin-right:20px;}
	#comments{ 	}
	.commentlist  { list-style:none;  list-style-type:none; }
	.comment-body { background:#ddd; border:1px solid #ccc; padding:10px; margin-top:10px; }
	.reply { padding:3px; background:#666; border:1px solid #ccc;  width:100px; text-align:center; line-height:normal; }
	.reply a { color:#FFFFFF; font-size:12px; }
	.comment { padding-top:10px; font-size:16px; line-height:30px;}
	.commentmetadata a { text-transform:uppercase; font-size:11px; } 
	.fn { font-size:16px; font-weight:bold;  }
	.fn a { color:#666; }
	.plinks {color: rgb(102, 102, 102);float: left; font-size: 12px;margin: 5px 0px 0px 0px;}
	.plinks a {background: rgb(186, 11, 10); color: white;display: block;float: left;font-size: 11px;font-weight: bold; margin: 0px 7px 7px 0px; padding: 4px 6px;text-decoration: none;}
	.plinks a:hover { background: red; }
	.addthis_toolbox .hover_effect{    width: 200px;    padding: 7px 0 6px 7px;    border: 2px solid #eee; float:Right; }
	.addthis_toolbox .hover_effect div{    float: left;}
	.addthis_toolbox .hover_effect a{    border: 2px solid #fff;    padding: 2px 2px 2px 16px;    position: relative;    text-decoration: none;}
	.addthis_toolbox .hover_effect a:hover{    border: 2px solid #105CB6;       background: #B4D3F8;    color: #105CB6;    text-decoration: none;}
	.addthis_toolbox .hover_effect span{    position: absolute;    width: 16px;    height: 16px;    top: 2px;    left: 1px;}
	.entry p {text-align: left;  }
	.entry a { text-decoration:underline; }
	.entry ul { margin-left:20px; padding-bottom:20px; list-style:disc; }

/* ===================== _AUTHOR.PHP STYLES ======================== */

	#hor-zebra{	 	font-size: 12px;	width: 100%;	text-align: left;	border-collapse: collapse;}
	#hor-zebra th{	font-size: 14px;	font-weight: normal;	padding: 10px 8px;	color: #444;}
	#hor-zebra td{	padding: 8px;	color: #669;}
	#hor-zebra .odd{	background: #e8edff; } 
	
/* ===================== _TPL_ADD.PHP STYLES ======================== */
	
	.payicon { float:right; margin-right:0px; background: #fff url('images/buy_paypal.gif') no-repeat; width:200px; height:70px; }
	.extrainfo { background:#efefef; border-top:2px solid #ddd; border-bottom: 2px solid #ddd; padding:10px; margin-top:30px; margin-right:20px;}
	
	.CheckoutBtn a, Checkout a:hover{	text-decoration:none;	font-weight:bold;	height:23px;	width:120px;	display:block;	text-align:center;	padding-top:6px;}
	.CheckoutBtn a{	background:url(images/Btn.jpg) no-repeat;	color:#FFFFFF;}
	
/* ===================== ICON STYLES ======================== */ 

	#icon-single-comment { background:  url(images/icon-single-comment.png) no-repeat 10px center;  }
	#icon-single-map { background:  url(images/icon-single-map.png) no-repeat 10px center;  }
	#icon-single-info { background: url(images/icon-single-info.png) no-repeat 10px center;  }
	#icon-single-images { background: url(images/icon-single-images.png) no-repeat 10px center;  }
	#icon-single-contact { background: url(images/icon-single-contact.png) no-repeat 10px center;  }
	
	.widget { padding:0px; }